<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading" create-form model-name="{[{element}]}">
            <span class="panel-title">{[{element}]}</span>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a create-form model-name="{[{childModel}]}" parent-id="{[{item.id}]}" class="list-group-item" ng-repeat="item in list">
                    <list-item item="item" type="{[{element}]}"></list-item>
                </a>
            </div>
        </div>
    </div>
</div>