<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{[{type|capitalize}]}</span>
            <span create-form class="glyphicon glyphicon-plus pull-right"></span>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="item in list">
                    <list-item item="item" type="{[{type}]}">
                    </list-item>
                </a>
            </div>
        </div>
    </div>
</div>