{% extends "base.html" %}
{% load angular_template %}
{% load experiment %}
{% block content %}

<!-- <create-form model-name="tweet"></create-form>
<create-form model-name="postTweetSet"></create-form> -->

<!-- <qdatepicker ng-model='date'></qdatepicker> -->

<dashboard>
    <dashboard-section list="info.tweets" element="tweet"></dashboard-section>
    <dashboard-section list="info.posttweetsets" element="postTweetSet"></dashboard-section>
</dashboard>

{% endblock %}


{% block partials %}
    <script type="text/ng-template" id="tweet.html">
        {% include "partials/modal.html" with form=tweet_form %}
    </script>
    <script type="text/ng-template" id="posttweetset.html"> 
        {% include "partials/modal.html" with form=posttweetset_form %}    
    </script>
    <script type="text/ng-template" id="periodictweet.html">
        {% include "partials/modal.html" with form=periodictweet_form %}
    </script>
    <script type="text/ng-template" id="timedtweet.html">
        {% include "partials/modal.html" with form=timedtweet_form %}
    </script>
    <script type="text/ng-template" id="dashboard.html">
        {% include "partials/dashboard.html" %}
    </script>
    <script type="text/ng-template" id="selectAdd.html">
        {% include "partials/selectAdd.html" %}
    </script>
    <script type="text/ng-template" id="dashboardSection.html">
        {% include "partials/dashboardSection.html" %}
    </script>
    <script type="text/ng-template" id="tweet-item.html">
        {% include "partials/items/tweet-item.html" %}
    </script>
    <script type="text/ng-template" id="timedtweet-item.html">
        {% include "partials/items/timedtweet-item.html" %}
    </script>
    <script type="text/ng-template" id="posttweetset-item.html">
        {% include "partials/items/posttweetset-item.html" %}
    </script>
    <script type="text/ng-template" id="periodictweet-item.html">
        {% include "partials/items/periodictweet-item.html" %}
    </script>
{% endblock partials %}