{% extends "base.html" %}
{% load angular_template %}
{% load experiment %}
{% block content %}

<div ng-view></div>

{% endblock %}


{% block partials %}
    
    {% for form_id, form_inst in forms %}
        <script type="text/ng-template" id="{{ form_id }}">
            {% include "partials/modal.html" with form=form_inst %}
        </script>
    {% endfor %}
    
    {% for partial_id, partial_url in partials %}
        <script type="text/ng-template" id="{{ partial_id }}">
            {% include partial_url %}
        </script>
    {% endfor %}

{% endblock partials %}