<br>
<div class="row">
    <div class="span9 main">
        <div class="row">
            <div class="span9">
                <a ng-show="globals.is_authenticated" class="btn" ng-click="open('create')">Create</a>
                <a ng-hide="globals.is_authenticated" href="/api_auth/login/" class="btn">Create</a>

                <div modal="tweetModalCreate" close="close('create')" options="opts">
                    <a ng-click="close('create')" class="close" data-dismiss="modal">x</a>

                    <div class="modal-header">
                        <h4>Edit Tweet</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label for="id_status" class="control-label">Status</label>

                                <div class="controls">
                                    <input type="text" id="id_status" placeholder="Title" ng-model="tweet.status">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" ng-click="create()">Create</button>
                        <button class="btn btn-danger" ng-click="close('create')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="tweet in tweets">
            <div class="span9">
                <div class="bg"></div>
                <div class="overlay">
                    <div class="content">
                        <a href="{[{ tweet.api_url }]}" class="clip-open">
                            <h3>[{[ tweet.status }]}</h3>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>