@import 'less/bootstrap.less';

.content {
    margin-top: 70px;
}

.item {
    .make-row();
    .info {
        .make-md-column(9);
    }
    .controls {
        .make-md-column(3);
    }
    .children {
        /*.make-row();*/
    }
}

.child-item {
    .make-row();
    .info {
        .make-md-column(3);
        /*.make-md-column-offset(2);*/
    }
}

.author {
    color: green;
    font-weight: bold;
}

.dashboard {
    .make-row();
}

.dashboard-section {
    .make-md-column(6);
}